name: Build Executable

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    
    - name: Install dependencies with uv
      run: |
        uv sync --group build
    
    - name: Build executable with PyInstaller
      run: |
        uv run pyinstaller --paths src --name coupang_coupon_issuer --onefile main.py
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: coupang_coupon_issuer-linux
        path: dist/coupang_coupon_issuer
        retention-days: 30
