name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-22.04

    permissions:
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    
    - name: Install dependencies with uv
      run: |
        uv sync --group build
    
    - name: Build executable with PyInstaller
      run: |
        uv run pyinstaller --paths src --name coupang_coupon_issuer --onefile main.py
    
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        name: ${{ github.ref_name }}
        files: dist/coupang_coupon_issuer
        draft: false
        prerelease: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
